{% extends 'layout/base.html' %}
{% load i18n %}

{% block css %}
{% endblock %}

{% block title %}
	{% if not valid_code %}
		{% trans "Invalid Code" %}
	{% else %}
		{% trans "Successfully Reset Password!" %}
	{% endif %}
{% endblock %}

{% block content %}
    <div id="main_content">
    	{% if not valid_code %}
			<h3>{% trans "Invalid Confirmation Code" %}</h3>
		{% else %}
			<h3>{% trans "Your password is successfully reset!" %}</h3>
        	<p>{% trans "You may now log in with your temporary password." %}</p>
        	<p>{% trans "You can change your password anytime from the Profile view." %}</p>	
		{% endif %}        
    </div>
{% endblock %}




